.serviceImg{
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: relative;
}
.serviceImg::before{
    content: "";
    background: url("https://cdn.pixabay.com/photo/2018/03/10/09/45/businessman-3213659__340.jpg");
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;


}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serviceImg h1{
    font-size: 2.4rem;
}
.serviceImg p{
    font-size: 1.4rem;
    text-align: center;
}
@media screen and (max-width: 640px){
    .serviceImg h1{
        font-size: 2rem;
    }
    
}